---
import { StarIcon, ForkIcon } from "../assets/icons";

interface Props {
  repo: {
    name: string;
    visibility: string;
    description: string | null;
    forksCount: number;
    language: string | null;
    topics: string[];
    updatedAt: string;
    stargazersCount: number;
    url: string;
  };
}

const { repo } = Astro.props;
---

<article class="lg:flex justify-between">
    <div class="lg:max-w-2/3">
      <div class="inline-flex gap-2 pb-3">
        <h3
          class="text-blue-400 text-xl font-semibold leading-normal tracking-wide"
        >
          {repo.name}
        </h3>
        <div
          class="max-h-4 my-1.5 px-2 py-0.5 rounded-lg outline outline-offset-[-1px] outline-zinc-400 inline-flex justify-center items-center gap-2.5"
        >
          <p
            class="justify-center text-zinc-400 text-xs font-normal leading-none tracking-wide"
          >
            {repo.visibility}
          </p>
        </div>
      </div>
      <p class="pb-2">
        {repo.description}
      </p>
      <div class="inline-flex flex-wrap pb-2">
          {repo.topics.map((topic) => 
        <div
          class="bg-badget w-fit px-3 m-0.5 py-1 rounded-[38px] flex justify-center items-center gap-2.5"
        >
          <p
            class="justify-center text-blue-500 text-xs font-medium leading-none tracking-wide"
          >{topic}
          </p>
        </div>
        
        )}
      </div>
      <div class="flex text-sm text-gray-500">
        <p class="inline-flex gap-1 px-1">{repo.language}</p>
        <p class="inline-flex gap-1 px-1">
          <StarIcon/>1
        </p>
        <p class="inline-flex gap-1 px-1"><ForkIcon/>{repo.forksCount}</p>
        <p class="inline-flex gap-1 px-1">Updated {repo.updatedAt} days ago</p>
      </div>
    </div>
    <div class="">
      <div
        class="pl-2 pr-4 py-2 bg-btn-primary rounded-lg inline-flex justify-center items-center gap-2"
      >
        <div data-property-1="star" class="w-6 h-6 relative overflow-hidden">
        </div>
        <button
          class="justify-center text-sm font-semibold leading-normal tracking-wide"
        >
          Start
        </button>
      </div>
    </div>
  </article>
  <hr class="text-gray-400 my-3" />
